Package: net.douglassoares.noshift
Name: NoShift
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Say Goodbye to the Shift Key
Maintainer: Douglas Soares
Author: Douglas Soares
Section: Tweaks
Version: 1.0.0-4
Installed-Size: 188
